.hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      rgba(112, 184, 18, 0.95),
      rgba(112, 184, 18, 0.95) /* dark    #70b812 ------------ 112, 184, 18 */
        /* light    #9bfb1c rgba(155,251,28,255) */
    ),
    url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
